<div class="container-login">
  <div class="shadow sub-container-login">
    <div class="container-form">
      <form [formGroup]="loginForm" (ngSubmit)="login()">
        <img src="assets/img/logo.png" alt="Logo Elyon Yireh" />
        <h1>Bienvenido/a de vuelta</h1>
        <h3>Ingresa con tu usuario y contraseña</h3>
        <div class="form-group">
          <i class="bx bxs-user"></i>
          <input placeholder="Usuario" formControlName="email" />
        </div>
        <div class="form-group">
          <i class="bx bxs-lock-alt"></i>
          <input
            [type]="isShowPassword ? 'text' : 'password'"
            placeholder="Contraseña"
            formControlName="password"
          />
        </div>
        <div class="toggle-password">
          <input type="checkbox" class="pointer" (change)="togglePassword()" />
          {{ isShowPassword ? "Ocultar" : "Mostrar" }} contraseña
        </div>
        <div class="row">
          <div class="col-xs-12">
            <button
              type="submit"
              [disabled]="loginForm.invalid"
              class="btn btn-primary btn-block btn-login"
            >
              Ingresar
            </button>
          </div>
        </div>
      </form>
    </div>
    <div class="container-photo">
      <img
        alt="Edificio Elyon Yireh"
        src="assets/img/elyon-yireh-build.png"
        loading="lazy"
      />
    </div>
  </div>
</div>
