@import "../../../../../public/assets/_scss/variables.scss";

.bx {
  font-size: 1.5rem;
  border-radius: 0.5rem;
  padding: 0.5rem;
  transition: all 0.5s ease-in-out;
}

.bx:hover {
  background: $softOrange;
  color: $orange;
}

::ng-deep.mat-menu-content {
  padding: 1rem !important;
}
