<app-title
  name="Formulario Usuarios"
  [showCreateButton]="false"
  [isViewForm]="true"
></app-title>
<div class="container-menu shadow">
  <div class="row">
    <div class="col-lg-6">
      <mat-form-field appearance="outline" class="full-width-field">
        <mat-label>Nombre</mat-label>
        <input matInput type="text" required />
      </mat-form-field>
    </div>
    <div class="col-lg-6">
      <mat-form-field appearance="outline" class="full-width-field">
        <mat-label>Email</mat-label>
        <input matInput type="text" required />
      </mat-form-field>
    </div>
    <div class="col-lg-6">
      <mat-form-field appearance="outline" class="full-width-field">
        <mat-label>Contraseña</mat-label>
        <input matInput type="text" required />
      </mat-form-field>
    </div>
    <div class="col-lg-6">
      <mat-form-field appearance="outline" class="full-width-field">
        <mat-label>Rol</mat-label>
        <input matInput type="text" required />
      </mat-form-field>
    </div>
  </div>
</div>
