@import "../../../../../public/assets/_scss/variables.scss";

.card-stats {
  background: $white;
  border-radius: 5px;
  padding: 10px 20px;
  height: auto;

  .title {
    margin-bottom: 3rem;
  }

  .mark {
    font-size: 40px;
  }
}
