<div class="flex align-items-center justify-content-between">
  <div>
    <h3>{{ name }}</h3>
    <h5 class="text-gray" style="margin-top: 0.4rem">{{ subTitle }}</h5>
  </div>
  <div class="actions">
    <button
      type="button"
      *ngIf="isViewForm"
      class="btn btn-primary-outlined mr-1"
      routerLink="../"
    >
      Volver
    </button>
    <button
      *ngIf="showCreateButton"
      routerLink="./form"
      class="btn btn-primary"
      type="button"
    >
      Crear
    </button>
    <button
      *ngIf="isViewForm"
      type="submit"
      class="btn btn-primary"
      [disabled]="disabledButton"
    >
      Guardar
    </button>
  </div>
</div>
