<div class="flex align-items-center justify-content-between">
  <h3>{{ name }}</h3>
  <div class="actions">
    <button
      type="button"
      *ngIf="isViewForm"
      class="btn btn-primary-outlined mr-1"
      routerLink="../"
    >
      Volver
    </button>
    <button
      *ngIf="showCreateButton"
      routerLink="./form"
      class="btn btn-primary"
      type="button"
    >
      Crear
    </button>
    <button
      *ngIf="isViewForm"
      type="submit"
      class="btn btn-primary"
      [disabled]="disabledButton"
    >
      Guardar
    </button>
  </div>
</div>
