@import "../public/assets/_scss/variables.scss";

* {
  margin: 0;
  padding: 0;
  font-family: $nunito !important;
}

body {
  background: $softBlue;
}

//Flex

.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.align-items-center {
  align-items: center;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-between {
  justify-content: space-between;
}

.justify-content-around {
  justify-content: space-around !important;
}

.justify-content-between {
  justify-content: space-between;
}

//Padding

.p-sides {
  padding: 1rem 1.5rem;
}

//Text align

.text-right {
  text-align: right;
}

.text-start {
  text-align: start;
}

.text-center {
  text-align: center;
}

//Text Colors
.text-gray {
  color: $gray;
}

.text-primary {
  color: $primary;
}

.text-danger {
  color: $danger;
}

.text-success {
  color: $success;
}

//Font Weigth

.f-bold {
  font-weight: bold;
}

//Buttons
.btn {
  position: relative;
  overflow: hidden;
  border: 0;
  border-radius: 0.3rem;
  margin: 0 0.1rem;
  padding: 0.4rem 0.8rem;
  cursor: pointer;
}

.btn:disabled {
  opacity: 0.6;
}

.btn-primary-outline {
  border: 1px solid $primary;
  color: $primary;
  background: $white;
}

.btn-primary {
  background: $primary;
  color: $white;
}

//Bg Colors
.bg-white {
  background: $white;
}

.bg-red {
  background: $danger;
}

.bg-yellow {
  background: $orange;
}

.bg-green {
  background: $success;
}

.bg-gray {
  background: $gray;
  opacity: 0.5;
}

//Rounded
.rounded {
  border-radius: 5px;
}

//Shadows
.shadow {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

//Actions

.pointer {
  cursor: pointer;
}

//Table
.container-search {
  width: 300px;
  background: $white;
  padding: 0.5rem 0.4rem;
  border-radius: 0.5rem;
  input {
    background: transparent;
    border: 0;
    outline: none;
    margin-left: 0.6rem;
    width: 100%;
  }
}

.btn-excel {
  color: $primary;
  background: transparent;
  font-size: 1.4rem;
  padding-right: 0.5rem;
  border-radius: 0.3rem;
  padding: 0.5rem;
  transition: all ease-in 0.3s;
}

.btn-excel:hover {
  background: $primary;
  color: $white;
}

.title-page {
  letter-spacing: 0.3rem;
  text-transform: uppercase;
}

.mat-elevation-z8 {
  margin-top: 1rem;
}

.mat-header-cell {
  font-weight: 700;
  font-size: 0.9rem;
}

.action-table {
  font-size: 1.2rem;
  margin: 0 0.5rem;
}

//Tabs
.mat-mdc-tab-body-content {
  padding: 1rem;
  height: auto !important;
}

//Forms
.container-menu {
  background: $white;
  margin-top: 12px;
  padding: 20px 10px;
  border-radius: 2px;
  max-height: 90%;
}

.full-width-field {
  width: 100%;
}

.mdc-notched-outline__leading {
  border-left: 0 !important;
  border-radius: 0 !important;
}

.mat-mdc-notch-piece {
  border-top: 0 !important;
}

.mdc-notched-outline__trailing {
  border-right: 0 !important;
  border-radius: 0 !important;
}

//Margins
.mt-1 {
  margin-top: 1rem;
}

.mt-2 {
  margin-top: 2rem;
}

.mb-1 {
  margin-bottom: 1rem;
}

//Others
.hr {
  height: 5px;
}

//Admin Observation
.resume {
  padding: 0 0.5rem;
  background: $primary;
  border-radius: 20px;
  color: $white;
}

.card-observation {
  border: 1px solid $softOrange;
  padding: 0.5rem;
  border-radius: 5px;
  margin-bottom: 0.4rem;
}
