<div class="card shadow bg-white mt-1">
  <div class="flex justify-content-between">
    <div class="row">
      <div class="col-lg-12 f-bold">Programa</div>
      <div class="flex align-items-center">
        <div class="client-cirlce bg-gray"></div>
        <div class="row">
          <div class="col-lg-12">Cliente</div>
          <div class="col-lg-12">Telefono</div>
        </div>
      </div>
    </div>
    <div class="flex flex-column">
      <i class="bx bxs-detail text-primary pointer actions"></i>
      <i class="bx bxs-trash-alt text-danger pointer actions"></i>
      <i class="bx bxs-bookmark-star text-success pointer actions"></i>
    </div>
  </div>
</div>
