.card {
  border-radius: 10px;
  min-height: 100px;
  padding: 1rem;
}

.actions {
  font-size: 20px;
  margin-bottom: 1rem;
}

.client-cirlce {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin-right: 0.6rem;
}
