<div class="row mt-1">
  <div class="col-lg-2 f-bold flex align-items-center justify-content-center">
    Filtros:
  </div>
  <div class="col-lg-9 row">
    <div class="col-lg-4">
      <mat-form-field
        appearance="outline"
        class="full-width-field legacy-appearance"
      >
        <mat-label>Nombre</mat-label>
        <input matInput type="text" />
      </mat-form-field>
    </div>
    <div class="col-lg-4">
      <mat-form-field appearance="outline" class="full-width-field">
        <mat-label>Celular</mat-label>
        <input matInput type="text" />
      </mat-form-field>
    </div>
    <div class="col-lg-4">
      <mat-form-field appearance="outline" class="full-width-field">
        <mat-label>Programa</mat-label>
        <input matInput type="text" />
      </mat-form-field>
    </div>
    <div class="col-lg-4">
      <mat-form-field appearance="outline" class="full-width-field">
        <mat-label>Estado</mat-label>
        <input matInput type="text" />
      </mat-form-field>
    </div>
  </div>
</div>
